    .secondBauhaus {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 2fr;
        grid-template-rows: 2fr 2fr 2fr 2fr;
        width: 450px;
        height: 350px;
        padding-left: 20px;
        gap: 5px;
    }

    .secondBauhaus div {

        margin:-5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
    }

    .secondBauhaus .one {
        background-color: rgb(231, 231, 231);
        border-left: 5px rgb(28, 43, 43) solid;
        border-top: 5px rgb(28, 43, 43) solid;
    }

    .secondBauhaus .two {
        background-color: rgb(233, 18, 18);
        border: 5px rgb(28, 43, 43) solid;
        grid-column: 3 / span 1;
        grid-row: 2/ span 4;
    }

    .secondBauhaus .three {
        background-color: rgb(231, 231, 231);
        border-top: 5px rgb(28, 43, 43) solid;
        border-right: 5px rgb(28, 43, 43) solid;
        border-bottom: 5px rgb(28, 43, 43) solid;
    }

    .secondBauhaus .four {
        background-color: rgb(41, 117, 194);
        border: 5px rgb(28, 43, 43) solid;
    }


    .secondBauhaus .five {
        background-color: rgb(231, 231, 231);
        border: 5px rgb(28, 43, 43) solid;
    }

    .secondBauhaus .six{
        background-color: rgb(226, 226, 8);
        border: 5px rgb(28, 43, 43) solid;
        grid-column: 2 / span 1;
        grid-row: 4 / span 2;
    }

    .secondBauhaus .seven{
        background-color: rgb(231, 231, 231);
        border-right: 5px rgb(28, 43, 43) solid;
        border-left: 5px rgb(28, 43, 43) solid;
        border-bottom: 5px rgb(28, 43, 43) solid;
    }