    .container {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 2fr;
        grid-template-rows: 2fr 2fr 2fr 2fr;
        width: 450px;
        height: 350px;
        /* padding: 20px 90px 10px 90px; */
        gap: 5px;
    }

    .container div {

        margin:-5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
    }

    
    .box1 {
        border: 5px rgb(28, 43, 43) solid;
    }

    .box2 {
        border: 5px rgb(28, 43, 43) solid;
        grid-column: 3 / span 1;
        grid-row: 2/ span 4;
        /* grid-column: 2 / span 3;
        grid-row: 1/ span 2 */
    }

    .box3 {
        border: 5px rgb(28, 43, 43) solid;
    }

    .box4 {
        border: 5px rgb(28, 43, 43) solid;
        /* grid-row: 3 / span 2; */
    }


    .box5 {
        border: 5px rgb(28, 43, 43) solid;
        /* grid-row: 3 / span 2;
        grid-column: 2 / span 2; */
    }

    .box6{
        border: 5px rgb(28, 43, 43) solid;
        grid-column: 2 / span 1;
        grid-row: 4 / span 2;
    }

    .box7{
        border: 5px rgb(28, 43, 43) solid;
    }