* {
    border-collapse: collapse;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: "Roboto Condensed";
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


body {
    margin: 0px;
    width: 100%;
    background-image: url(../media/bg/foto-del-patron-de-textura-de-la-pared.webp);
    background-size: cover;
    padding-top: 0px;
}

header {
    z-index: 10;
    position: fixed;
    width: 100%;
}


/* --- NAV LINKS --- */
.navbar-nav li>a {
    transition: 100ms;
}

.navbg {
    
    background-color: rgb(58, 68, 41);
    width: 100%;
    margin: 0px;
    background-size: cover;
    height: 101%;
}

.navbar-nav li>a:hover {
    border-top: solid rgb(255, 255, 255) 2.5px;
}


#ticket {
    color: rgb(240, 240, 240);
    padding: 1px 20px 1px 20px;
    border-radius: 20px;
    background-color: rgb(85, 186, 70);
}

#ticket:hover {
    border-top: none;
    border: solid rgb(255, 255, 255) 2.5px;
}

@media (max-width: 991px) {

    .navbar-nav,
    .nav-item,
    .nav-link,
    .d-flex {
        font-size: 1.15em ;
        width: 100%;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .boton-menu {
        margin: 5px 0 5px 0;
    }

    #ticket{
        text-align: center;
        font-size: 1.3em;
        margin: 5px 0 20px 0;
    }

    .navbar-collarpse {
        width: 100%;
        overflow-x: hidden;
        margin: 0 45px 0 45px;
    }
}

/* ESCRITORIO (min-width: 992px) */
@media (min-width: 992px) {

    #ticket {
        margin-top: 4px;
        margin-left: 100px;
    }


    .homemenu {
        font-size: 2em;
    }

    .exhibitionmenu {
        font-size:2em;
    }

    h1 {
        padding-left: 25px;
        margin-bottom: 5px;
    }

    header {
        letter-spacing: 5px;
        z-index: 10;
        background-color: rgb(255, 255, 255);
        position: fixed;
        width: 100%;
        top: 0;
        height: 100px;
        /* Altura original para desktop */
        align-content: center;
        border-bottom: solid black 3px;
    }

    .boton-menu {
        scale: 1.6;
        margin-left: 90px;
    }

    /* boton de busqueda */
    .buscador {
        background-color: #f2f2f2;
    }

    /* Contenedor del formulario */
    .d-flex {
        scale: 1.2;
        margin-right: -120px;
        margin-left: 150px;
        width: 320px;
    }

    /* boton de tickets */
    #ticketLi {
        scale: 1.3;
    }

    /* Texto THe Rothko Museum */
    .navbar-brand {
        display: flex;
        color: white;
        font-size: 3em;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
    }
}


.tabla1 {
    margin: 10px 0px 10px 0px;
    justify-content: center;
    display: flex;
    width: 100%;

}

.tabla2 {
    background-image: url(../media/bg/espacio-de-galeria-con-focos-y-suelo-de-madera.webp);
    background-repeat: no-repeat;
    background-size: cover;
    font-style: normal;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 25px;
    padding: 20px;
    border-radius: 20px;
    width: 98%;
    align-content: center;
}

.tabla2 td {
    letter-spacing: 5px;
    font-weight: 500;
    color: rgb(220, 220, 220);
}

th {
    letter-spacing: 5px;
    overflow: hidden;
    border-radius: 20px;
    border-bottom: solid rgba(255, 255, 255, 0.71) 1px;
    padding: 25px;
}

.tabla2 td {
    padding: 10px;
    border-collapse: collapse;
    border: solid rgb(110, 110, 110) 1px;
}

#final {
    bottom: 15px;
    left: 29px;
    position: absolute;
    width: 85%;
    height: 6%;
    background-color: #d4c8948f;
}


/* --- FOOTER --- */

footer {
    border-top: 6px solid black;
    font-size: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.409);
    padding: 10px;
}

footer h2 {
    font-size: 25px;
    margin-top: 20px;
}

footer ul {
    margin-top: 40px;
    margin-bottom: 20px;
}

footer a {
    color: white;
}


footer {
    border-top: white 3px solid;
    background-color: #3a4429;
}