@media (max-width: 991.98px) {

    /* Asegura que el contenedor del menú no se estire horizontalmente */
    .navbar-collapse {
        width: 100%;
        /* Añade overflow-x: hidden si el problema persiste, para cortar cualquier desbordamiento horizontal */
        overflow-x: hidden;
    }

    /* Asegura que los elementos de la lista y los enlaces ocupen el ancho completo del menú desplegado y no se desborden */
    .navbar-nav,
    .nav-item,
    .nav-link,
    .d-flex {
        width: 100%;
        /* Elimina márgenes negativos que puedan causar overflow */
        margin-left: 0 !important;
        margin-right: 0 !important;
        /* Añade algo de padding vertical para que no estén tan pegados */
        padding-left: 1rem;
        padding-right: 1rem;
    }

    /* Ajusta los elementos del formulario de búsqueda para que se vean bien verticalmente */
    .buscador.form-control,
    .buscador.btn {
        width: 100%;
        margin-bottom: 0.5rem;
        /* Espacio entre el input y el botón en móvil */
    }

    .buscador.form-control.me-2 {
        margin-right: 0 !important;
    }
}

.img {
    margin-top: -45px;
}

.mark {

    width: 500px;
    height: 300px;
    bottom: 1%;
    right: 200px;
    border-radius: 5px;
    opacity: 80%;
}

.mark2 {
    border: solid white 2px;

    width: 500px;
    height: 300px;
    bottom: 20px;
    left: 200px;
    border-radius: 5px;
    opacity: 80%;
}

.mark3 {
    border: solid white 2px;
    width: 500px;
    height: 300px;
    bottom: 20px;
    left: 200px;
    border-radius: 5px;
    opacity: 80%;
}

.bg1{
    border-radius: 4px;
    border: solid 2px black;
    margin-top: 119px;
    background-color: #37442a;
}

.bg1>img:nth-child(1) {
    height: 690px;
    opacity: 70%;
    width: 100%;
    filter: brightness(70%);
}

.bg1>div {
    
    padding: 10px;
    top: 0px;
    margin: 10px;
}

.bg1>div>p {
    color: rgb(235, 224, 224);
    width: 100%;
    margin: 0px;
    font-size: 30px;
    letter-spacing: 1.3px;
    text-align: center;
    padding: 30px;

}

h2 {
    color: white;
    font-weight: 400;
    margin: 10px;
    font-size: 37px;
    text-align: center;
    align-self: center;
}


.images {
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
    height: 400px;
    align-content: center;
    justify-content: space-evenly;
    display: flex;
}


.bg2 {
    justify-content: left;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.bg2>div>p {
    font-size: 23px;
    padding: 5px;
}

.imagen>img {

    object-fit: cover;
    width: 100%;
    height: 400px;
}

.imagen {
    width: 100%;
    overflow: hidden;
    align-items: flex-end;
    display: flex;
    justify-content: center;
}

.bg2>div {
    border: solid black 2px;
    border-radius: 4px;
    background-color: #3a4429d9;
    padding: 30px;
    margin: 10px;
    width: 460px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.separator{
    margin-top: 40px;
    border: solid rgb(0, 0, 0) 1px;
    width: 100%;
}