.img {
    margin-top: 5px;
}

.mark,
.mark2,
.mark3 {
    border: solid black 4px;
    width: 500px;
    height: 300px;
    border-radius: 2px;
    opacity: 90%;
    margin: 10px;
}

.bg1 {
    border-radius: 4px;
    border: solid 2px black;
    margin-top: 97px;
    background-color: #3a4429bb;
}

.bg1>img:nth-child(1) {
    height: 690px;
    opacity: 70%;
    width: 100%;
    filter: brightness(70%);
}

.bg1>div {

    padding: 10px;
    top: 0px;
    margin: 10px;
}

.bg1>div>p {
    color: rgb(235, 224, 224);
    width: 100%;
    margin: 0px;
    font-size: 30px;
    letter-spacing: 1.3px;
    text-align: center;
    padding: 30px;
}

.bg2 {
    background-color: #3a4429bb;
    justify-content: left;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.bg2>div>p {
    font-size: 23px;
    padding: 5px;
}

.bg2>div {
    border: solid black 2px;
    border-radius: 4px;
    background-color: #3a4429d9;
    padding: 30px;
    margin: 10px;
    width: 460px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
  color: white;
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  width: 100%;
  margin: 20px;
}

.images {
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
    align-content: center;
    justify-content: space-evenly;
    display: flex;
}

.imagen>img {
    object-fit: cover;
    width: 100%;
    height: 400px;
}

.imagen {
    width: 100%;
    overflow: hidden;
    align-items: flex-end;
    display: flex;
    justify-content: center;
}


.separator {
    margin-top: 40px;
    border: solid rgb(0, 0, 0) 1px;
    width: 100%;
}

@media (max-width: 991.98px) {

    header {
        position: fixed;
        top: 0px;
        border-bottom: solid black 2px;
    }

    .bg1 {
        border-radius: 4px;
        border: solid 2px black;
        margin-top: 58px;
        
    }

    .bg2>div {
        border: solid black 2px;
        border-radius: 4px;
        background-color: #3a4429d9;
        padding: 20px;
        margin: 10px;
        width: auto;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .imagen>img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .separator {
        margin-top: 40px;
        border: solid rgb(0, 0, 0) 1px;
        width: 100%;
    }
}