.mark {
    position: absolute;
    width: 500px;
    height: 300px;
    bottom: 1%;
    right: 200px;
    border: solid white 2px;
    border-radius: 5px;
    opacity: 80%;
}

.mark2 {
    border: solid white 2px;
    position: absolute;
    width: 500px;
    height: 300px;
    bottom: 20px;
    left: 200px;
    border-radius: 5px;
    opacity: 80%;
}

.mark3 {
    border: solid white 2px;
    border-radius: 5px;
    position: absolute;
    width: 400px;
    height: 250px;
    bottom: 20px;
    left: 750px;
    opacity: 80%;
}

.bg1 {
    position: relative;
}

.bg1>img:nth-child(1) {
    height: 690px;
    opacity: 70%;
    width: 100%;
    filter: brightness(70%);
}

.bg1>div {
    padding-top: 20px;
    position: absolute;
    top: 0px;
    margin: 0px 200px 0px 200px;
}

.bg1>div>p {
    color: rgb(235, 224, 224);
    width: 100%;
    margin: 0px;
    font-size: 30px;
    letter-spacing: 1.2px;
    text-align: center;
    padding: 60px;

}

.bg1>div>h2 {
    color: white;
    font-weight: 400;
    margin: 0px;
    font-size: 50px;
    top: 10px;
    text-align: center;
}
