/* Media query para aplicar estilos solo en pantallas pequeñas (hasta 991px, el breakpoint por defecto de navbar-expand-lg) */
@media (max-width: 991.98px) {

    /* Asegura que el contenedor del menú no se estire horizontalmente */
    .navbar-collapse {
        width: 100%;
        /* Añade overflow-x: hidden si el problema persiste, para cortar cualquier desbordamiento horizontal */
        overflow-x: hidden;
    }

    /* Asegura que los elementos de la lista y los enlaces ocupen el ancho completo del menú desplegado y no se desborden */
    .navbar-nav,
    .nav-item,
    .nav-link,
    .d-flex {
        width: 100%;
        /* Elimina márgenes negativos que puedan causar overflow */
        margin-left: 0 !important;
        margin-right: 0 !important;
        /* Añade algo de padding vertical para que no estén tan pegados */
        padding-left: 1rem;
        padding-right: 1rem;
    }

    /* Ajusta los elementos del formulario de búsqueda para que se vean bien verticalmente */
    .buscador.form-control,
    .buscador.btn {
        width: 100%;
        margin-bottom: 0.5rem;
        /* Espacio entre el input y el botón en móvil */
    }

    .buscador.form-control.me-2 {
        margin-right: 0 !important;
    }
}

.img {
    margin-top: -45px;
}

.mark {

    width: 500px;
    height: 300px;
    bottom: 1%;
    right: 200px;
    border-radius: 5px;
    opacity: 80%;
}

.mark2 {
    border: solid white 2px;

    width: 500px;
    height: 300px;
    bottom: 20px;
    left: 200px;
    border-radius: 5px;
    opacity: 80%;
}

.mark3 {
    border: solid white 2px;
    width: 500px;
    height: 300px;
    bottom: 20px;
    left: 200px;
    border-radius: 5px;
    opacity: 80%;
}

.bg1 {
    position: relative;
}

.bg1>img:nth-child(1) {
    height: 690px;
    opacity: 70%;
    width: 100%;
    filter: brightness(70%);
}

.bg1>div {
    padding: 10px;
    top: 0px;
    margin: 10px;
}

.bg1>div>p {
    color: rgb(235, 224, 224);
    width: 100%;
    margin: 0px;
    font-size: 30px;
    letter-spacing: 1.2px;
    text-align: center;
    padding: 60px;

}

.bg1>div>h2 {
    color: white;
    font-weight: 400;
    margin: 0px;
    font-size: 50px;
    top: 10px;
    text-align: center;
}


.images {
    align-content: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}


.bg2{
    background-color: aqua;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.bg2>div>p{
    font-size: 23px;
    padding: 5px;
}

.bg2>div{
    border: solid black 2px;
    border-radius: 10px;
}
.imagen>img{
   
    border: solid black 10px;
    object-fit: contain;
    width: 100%;
 

}
.imagen{
    width: 100%;
    overflow: hidden;
  height: 400px;
}
.bg2>div{
    margin: 10px;
    background-color: cadetblue;
    width: 30%;
  
}