*{
    border-collapse: collapse;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family:"Roboto Condensed";
}
body{
    margin: 0px;
    width: 100%;
    background-image: url(/media/bg/foto-del-patron-de-textura-de-la-pared.jpg);
    background-size: cover;
    padding-top: 55px;
}
nav>ul>li:nth-child(1), nav>ul>li:nth-child(2){
    opacity: 100%;
    border-radius: 5px;
    font-weight: 700;
    letter-spacing: 9px;
    padding: 2px 90px;
}
nav>ul>li>a:nth-child(1), nav>ul>li>a:nth-child(2){
     color: rgb(231, 231, 231);
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-size: 19px;
}

h1{
    margin: 0px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
header{
    letter-spacing: 5px;
    z-index: 10;
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    top: 0;
    height: 50px;
    align-content: center;
    border-bottom: solid rgb(255, 255, 255) 1px;
}
header h1{
   margin-left: 300px;
    padding-top: 13px;
}
nav{
    background-color: rgba(43, 43, 43, 0.719);
    border-left: solid white 1px;
    border-bottom: solid white 1px;
    z-index: 11;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 50px;
    position: fixed;
    width: 50%;
    top: 0;
    font-size: 10px;
    right: 0px;
}

ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
 
}

.mark{
    
    position: absolute;
    width: 500px;
    height: 300px;
    bottom: 1%;
    right: 200px;
    border: solid white 2px;
     border-radius: 5px;
     opacity: 80%;
}
.mark2{
    border: solid white 2px;
    position: absolute;
    width: 500px;
    height: 300px;
    bottom: 20px;
    left: 200px;
     border-radius: 5px;
     opacity: 80%;
}

.mark3{
    border: solid white 2px;
    border-radius: 5px;
    position: absolute;
    width: 400px;
    height: 250px;
    bottom: 20px;
    left: 750px;
    opacity: 80%;
}

a{
     text-decoration: none;
}
li>a{
   padding: 5px 10px 5px 10px;
    transition:100ms;
}
li>a:hover{
    
     border-top: solid rgb(255, 255, 255) 2.5px;
  
}
#ticket:hover{
    border-top: none;
    border: solid rgb(255, 255, 255) 2.5px;
}

.bg1{
    position: relative;
}
.bg1>img:nth-child(1){
    height: 690px;
    opacity: 70%;
    width: 100%;
    filter: brightness(70%);
}


.bg1>div {
    padding-top: 20px;
    position: absolute;
    top: 0px;
    margin: 0px 200px 0px 200px;
}
.bg1>div>p{
    color: rgb(235, 224, 224);
    width: 100%;
    margin: 0px;
    font-size: 30px;
    letter-spacing: 1.2px;
    text-align: center;
    padding: 60px;

}


.bg1>div>h2{
    color: white;
    font-weight: 400;
    margin: 0px;
    font-size: 50px;
    top: 10px;
    text-align: center;
}

#ticket{
    color: rgb(240, 240, 240);
    padding: 1px 20px 1px 20px;
    margin: 10px;
    border-radius: 20px;
    background-color: rgb(85, 186, 70);
}

footer{
    margin: 0px;
    border-top: solid rgb(255, 255, 255) 1px;
    padding: 0px;
    height: 400px;
    text-align: center;
}
.img{
   background-image: url(/media/bg/foto-del-patron-de-textura-de-la-pared.jpg);
     
    width: 100%;
    margin: 0px;
    background-size: cover;
    height: 100%;
    
}
footer > .img {
    position: relative;
    padding: 50px;
    overflow: hidden;
    
}

footer > .img::after {
    height: 100%;
    content: "";
    width: 100%;
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.243); 
    z-index: 0.5;
    pointer-events: none;
}
footer > .img::before {
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    inset: 0; 
    background-image: url('/media/bg/foto-del-patron-de-textura-de-la-pared.jpg');
    background-size: cover;
    background-position: center;
    opacity: 80%;
    transform: scale(1.05);      
    filter: blur(8px);          
    z-index: 0;                 
    pointer-events: none;        
}


footer > .img > * {
    position: relative;
    z-index: 1;
}
footer>.img{
    padding: 50px;
    background-size: cover;
   
}

footer>div>h2{
  color: white;
  font-weight: 400;
  padding-bottom: 20px;
  
  border-bottom: solid white 1px;
  letter-spacing: 7px;
  display: inline;
}

footer li{
    color: rgb(210, 210, 210);
    padding: 10px;
    letter-spacing: 10px;
    font-weight: 600;
    margin: 0px;
    font-size: 50px;
    top: 10px;
    text-align: center;
    margin-top: 100px;
    font-size: 24px;
}

footer li:hover{
    border-bottom: solid white 1px;
    cursor: pointer;
    transform: scale(1.05);
     transition: 300ms;
}

.s1{
    align-items: center;
    margin-top: 30px;
    display: flex;
    width: 100%;
    height: 1369px;
    flex-wrap: wrap;
    justify-content: center;
}
.rothko {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    border-radius: 5px;
    padding: 70px;
    position: relative;
    overflow: hidden; 
    width: 31%;
    height: 650px;
    overflow: hidden;
    background-color: #a0a0a0;
}

.rothko::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(2px);
    border-radius: 5px; 
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 10 6 5px rgb(0, 0, 0);
    border: solid rgba(0, 0, 0, 0.764) 25px;
    z-index: 0; 
}
.rothko > * {
    z-index: 1; 
    position: relative;
}
.rothko>a {
    opacity: 10%;
    transition: 200ms;
    scale: 20px;
    text-align: center;
    position: absolute;
    color: rgb(176, 176, 176);
    letter-spacing: 10px;
    padding: 10px;
    z-index: 2;
    font-size: 20px;
    display: flex;
    border-radius: 5px;
    align-self: center;
}
.rothko a:hover{
    opacity: 100%;
    transform: scale(1.05);
}

.rosa{
    -webkit-filter: blur(2px);
    filter: blur(2px);
    border-radius: 5px;
    background-color: #c67b86;
    width: 100%;
    height: 300px;
}
.verde{
    
    border-radius: 4px;
    -webkit-filter: blur(4px);
    filter: blur(5px);
    width: 100%;
    height: 150px;
    background-color: #70770c;
}
#rojo1{
    background-color: #7c3b3a;
}

.rothkocuadrado{
 width: 100%;
 height: 395px;
}

#naranja{
background-color: #c53f24;
}

.rothkocuadrado>.rothkocuadrado{
    background-color: rgb(0, 0, 0);
    margin:10px;
    align-items: center;
    width: 95%;
    height: 90%;
    border-radius: 4px;
    -webkit-filter: blur(4px);
    filter: blur(5px);
    display: flex;
    justify-content: center;
}
.negro{
    width: 100%;
    background-color: black;
   
}

.marron{
    margin: 10px;
    width: 20%;
    background-color: #7c3b3a;
    height: 90%;
    justify-content: center;
}

.tabla1{
    margin: 10px 0px 10px 0px;
    justify-content: center;
    display: flex;
    width: 100%;
    
}

.tabla2{
    background-image: url(/media/bg/espacio-de-galeria-con-focos-y-suelo-de-madera.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-style:normal;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 25px;
    padding: 20px;
    border-radius: 20px;
    width: 98%;
    align-content: center;
}
.tabla2  td{
    letter-spacing: 5px;
    font-weight: 500;
     color: rgb(220, 220, 220);
}

th{
    letter-spacing: 5px;
    overflow: hidden;
    border-radius: 20px;
    border-bottom: solid rgba(255, 255, 255, 0.71) 1px;
    padding: 25px;
}
.tabla2 td{
    padding: 10px;
    border-collapse: collapse;
    border: solid rgb(110, 110, 110) 1px;
}

.rothko>#rojo1>#naranja>#rojo1{
    margin: 20px;
    padding: 49px;
    width: 67%;
    height: 84%;
}

#rojo2{
    border-radius: 5px;
    filter: blur(2px);
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #c63f21;
}

#morado{
  filter: blur(2px);
    position: absolute;
    width: 98%;
    height: 30px;
    background-color: #804460;
    top: 5px;
    left: 5px;
}

#beige{
    filter: blur(2px);
    position: absolute;
    width: 99%;
    height: 15px;
    background-color: beige;
    top: 30px;
    left: 2px;
}

#negroA{
    filter: blur(2px);
    position: absolute;
    width: 97%;
    height: 45%;
    background-color: #434343;
    top: 50px;
    left: 6px;
    border-radius: 10px;
}
#beige2{
    filter: blur(2px);
    position: absolute;
    width: 98%;
    height: 50px;
    background-color: beige;
    bottom: 190px;
    left: 4px;
    border-radius: 10px;
}

#negroB{
    filter: blur(2px);
     position: absolute;
    width: 94%;
    height: 15px;
    background-color: #434343;
    bottom: 170px;
    left: 9px;
}

#verde{
    filter: blur(2px);
    border-radius: 10px;
    position: absolute;
    width: 93%;
    height: 80px;
    background-color: #338252;
    bottom: 85px;
    left: 9px;
}

.yellow{
    border-radius: 5px;
    filter: blur(2px);
    position: relative;
    width: 100%;
    height: 80%;
    background-color: #caa22a;
}

#yellowIn{
    top: 12px;
    position: absolute;
    width: 100%;
    height: 20%;
    background-color: #c48900;
}

#orangeBot{
    top:80px;
    left: 20px;
    position: absolute;
    width: 90%;
    height: 14%;
    background-color: #ba5601;
}
#blackBot{
    top: 137px;
    left: 18px;
    position: absolute;
    width: 92%;
    height: 5%;
    background-color: #000000;
}
#maroonEnd{
    bottom: 45px;
    left: 20px;
    position: absolute;
    width: 91%;
    height: 50%;
    background-color: #4f1929;
}

#beigeLeft{
    position: absolute;
    width: 8%;
    height: 90%;
    background-color: #cfb57c;
    left: 2px;
    top: 20px;
}
#beigeRight{
    position: absolute;
    width: 8%;
    height: 90%;
    background-color: #d5c29a;
    right: 2px;
    top: 20px;
}

#maroonRight{
    border-radius: 10px;
    position: absolute;
    width: 4.5%;
    height: 40%;
    background-color: #4b1309;
    right: 3px;
    bottom: 40px;
}
#maroonLeft{
    position: absolute;
    width: 4.5%;
    height: 40%;
    background-color: #4b1309;
    left: 3px;
    bottom: 40px;
}

#final{
    bottom: 15px;
    left: 29px;
    position: absolute;
    width: 85%;
    height: 6%;
    background-color: #d4c8948f;
}

.collections {
    background-image: url(/media/bg/espacio-de-galeria-con-focos-y-suelo-de-madera.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 30px 20px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  color: #f2f2f2;
  font-family: "Roboto Condensed", sans-serif;
}

.collections h2 {
  width: 100%;
  text-align: center;
  font-size: 26px;
  margin-bottom: 20px;
  border-bottom: 2px solid rgba(255,255,255,0.2);
  padding-bottom: 8px;
}

.collections-list {
    
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.collections-list ul{
    display: flex;
    flex-direction: column;

}
.collections-list > li {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
 
}

.collections-list > li::before {
  
  margin-right: 6px;
}

.collections-list li ul {
  margin-top: 6px;
  padding-left: 20px;
  
}

.collections-list li ul li {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 4px;
  color: rgba(255,255,255,0.85);
}
