* {
    border-collapse: collapse;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: "Roboto Condensed";
}

body {
    margin: 0px;
    width: 100%;
    background-image: url(/media/bg/foto-del-patron-de-textura-de-la-pared.jpg);
    background-size: cover;
    padding-top: 55px;
}

main{
    margin-top: 90px;
}

.homemenu{
    margin-left: 550px;
    font-size: 2em;
}

.exhibitionmenu{
    font-size: 2em;
}

.buscador{
    position: relative;
    left: 60px;
    top: -40px;
    padding: 5px;
}

h1 {
    margin: 0px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-bottom: 50px;
    margin-right: 270px;
}

header {
    letter-spacing: 5px;
    z-index: 10;
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    top: 0;
    height: 150px;
    align-content: center;
    border-bottom: solid rgb(255, 255, 255) 1px;
}

header h1 {
    margin-left: 300px;
    padding-top: 13px;
}

/* nav{
    background-color: rgba(43, 43, 43, 0.719);
    border-left: solid white 1px;
    border-bottom: solid white 1px;
    z-index: 11;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 50px;
    position: fixed;
    width: 50%;
    top: 0;
    font-size: 10px;
    right: 0px;
} */

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;

}

.mark {

    position: absolute;
    width: 500px;
    height: 300px;
    bottom: 1%;
    right: 200px;
    border: solid white 2px;
    border-radius: 5px;
    opacity: 80%;
}

.mark2 {
    border: solid white 2px;
    position: absolute;
    width: 500px;
    height: 300px;
    bottom: 20px;
    left: 200px;
    border-radius: 5px;
    opacity: 80%;
}

.mark3 {
    border: solid white 2px;
    border-radius: 5px;
    position: absolute;
    width: 400px;
    height: 250px;
    bottom: 20px;
    left: 750px;
    opacity: 80%;
}

a {
    text-decoration: none;
}

li>a {
    padding: 5px 10px 5px 10px;
    transition: 100ms;
}

li>a:hover {

    border-top: solid rgb(255, 255, 255) 2.5px;

}

#ticket:hover {
    border-top: none;
    border: solid rgb(255, 255, 255) 2.5px;
}

.bg1 {
    position: relative;
}

.bg1>img:nth-child(1) {
    height: 690px;
    opacity: 70%;
    width: 100%;
    filter: brightness(70%);
}


.bg1>div {
    padding-top: 20px;
    position: absolute;
    top: 0px;
    margin: 0px 200px 0px 200px;
}

.bg1>div>p {
    color: rgb(235, 224, 224);
    width: 100%;
    margin: 0px;
    font-size: 30px;
    letter-spacing: 1.2px;
    text-align: center;
    padding: 60px;

}

.bg1>div>h2 {
    color: white;
    font-weight: 400;
    margin: 0px;
    font-size: 50px;
    top: 10px;
    text-align: center;
}

#ticket {
    color: rgb(240, 240, 240);
    padding: 1px 20px 1px 20px;
    margin: 10px;
    border-radius: 20px;
    background-color: rgb(85, 186, 70);
}

footer {
    margin: 0px;
    border-top: solid rgb(255, 255, 255) 1px;
    padding: 0px;
    height: 400px;
    text-align: center;
}

.navbg {
    background-color: rgb(58, 68, 41);

    width: 100%;
    margin: 0px;
    background-size: cover;
    height: 100%;

}

footer>.img {
    position: relative;
    padding: 50px;
    overflow: hidden;

}

footer>.img::after {
    height: 100%;
    content: "";
    width: 100%;
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.243);
    z-index: 0.5;
    pointer-events: none;
}

footer>.img::before {
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('/media/bg/foto-del-patron-de-textura-de-la-pared.jpg');
    background-size: cover;
    background-position: center;
    opacity: 80%;
    transform: scale(1.05);
    filter: blur(8px);
    z-index: 0;
    pointer-events: none;
}


footer>.img>* {
    position: relative;
    z-index: 1;
}

footer>.img {
    padding: 50px;
    background-size: cover;

}

footer>div>h2 {
    color: white;
    font-weight: 400;
    padding-bottom: 20px;

    border-bottom: solid white 1px;
    letter-spacing: 7px;
    display: inline;
}

footer li {
    color: rgb(210, 210, 210);
    padding: 10px;
    letter-spacing: 10px;
    font-weight: 600;
    margin: 0px;
    font-size: 50px;
    top: 10px;
    text-align: center;
    margin-top: 100px;
    font-size: 24px;
}

footer li:hover {
    border-bottom: solid white 1px;
    cursor: pointer;
    transform: scale(1.05);
    transition: 300ms;
}




.tabla1 {
    margin: 10px 0px 10px 0px;
    justify-content: center;
    display: flex;
    width: 100%;

}

.tabla2 {
    background-image: url(/media/bg/espacio-de-galeria-con-focos-y-suelo-de-madera.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-style: normal;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 25px;
    padding: 20px;
    border-radius: 20px;
    width: 98%;
    align-content: center;
}

.tabla2 td {
    letter-spacing: 5px;
    font-weight: 500;
    color: rgb(220, 220, 220);
}

th {
    letter-spacing: 5px;
    overflow: hidden;
    border-radius: 20px;
    border-bottom: solid rgba(255, 255, 255, 0.71) 1px;
    padding: 25px;
}

.tabla2 td {
    padding: 10px;
    border-collapse: collapse;
    border: solid rgb(110, 110, 110) 1px;
}





#final {
    bottom: 15px;
    left: 29px;
    position: absolute;
    width: 85%;
    height: 6%;
    background-color: #d4c8948f;
}

.collections {
    background-image: url(/media/bg/espacio-de-galeria-con-focos-y-suelo-de-madera.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 30px 20px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    color: #f2f2f2;
    font-family: "Roboto Condensed", sans-serif;
}

.collections h2 {
    width: 100%;
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 8px;
}

.collections-list {

    list-style: none;
    padding-left: 0;
    margin: 0;
}

.collections-list ul {
    display: flex;
    flex-direction: column;

}

.collections-list>li {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 12px;

}

.collections-list>li::before {

    margin-right: 6px;
}

.collections-list li ul {
    margin-top: 6px;
    padding-left: 20px;

}

.collections-list li ul li {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 4px;
    color: rgba(255, 255, 255, 0.85);
}


/*--- Todo lo de bauhaus aqui ---*/